[Desktop Entry]
Version=1.0
Name=BITCHAIN Core
Comment=BITCHAIN P2P Cryptocurrency
Comment[fr]=BITCHAIN, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BITCHAIN, eşten eşe kriptografik sanal para birimi
Exec=bitchain-qt %u
Terminal=false
Type=Application
Icon=bitchain128
MimeType=x-scheme-handler/bitchain;
Categories=Office;Finance;
StartupWMClass=Bitchain-qt
