
## <summary>policy for bitchain</summary>


########################################
## <summary>
##	Transition to bitchain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bitchain_domtrans',`
	gen_require(`
		type bitchain_t, bitchain_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bitchain_exec_t, bitchain_t)
')


########################################
## <summary>
##	Execute bitchain server in the bitchain domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitchain_initrc_domtrans',`
	gen_require(`
		type bitchain_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bitchain_initrc_exec_t)
')


########################################
## <summary>
##	Search bitchain lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitchain_search_lib',`
	gen_require(`
		type bitchain_var_lib_t;
	')

	allow $1 bitchain_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bitchain lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitchain_read_lib_files',`
	gen_require(`
		type bitchain_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bitchain_var_lib_t, bitchain_var_lib_t)
')

########################################
## <summary>
##	Manage bitchain lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitchain_manage_lib_files',`
	gen_require(`
		type bitchain_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bitchain_var_lib_t, bitchain_var_lib_t)
')

########################################
## <summary>
##	Manage bitchain lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitchain_manage_lib_dirs',`
	gen_require(`
		type bitchain_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bitchain_var_lib_t, bitchain_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bitchain environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bitchain_admin',`
	gen_require(`
		type bitchain_t;
		type bitchain_initrc_exec_t;
		type bitchain_var_lib_t;
	')

	allow $1 bitchain_t:process { ptrace signal_perms };
	ps_process_pattern($1, bitchain_t)

	bitchain_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bitchain_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bitchain_var_lib_t)

')

